﻿
@{
    ViewBag.Title = "CurrencyInspector";
}
<h2>Currency Inspector</h2>


<p>Enter a currency code to view it's exchange rate with EUR as base. Case insesitive</p>

<p>Example currency codes: USD, IRN, HRK, HUF ...</p>

<input id="currency" maxlength="3" />

<button id="viewExchangeRate">View Exchange Rate</button>

<label id="resultLabel" />

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script src="~/Scripts/currencyHelper.js"></script>