﻿
@{
    ViewBag.Title = "CurrencyInspector";
}
<h2>Currency Inspector</h2>

<div class="row">
    <p>Enter a currency code to view it's exchange rate with EUR as base. Case insesitive</p>

    <p>Example currency codes: USD, INR, HRK, HUF ...</p>

</div>

<div class="row">
    <input id="currency" maxlength="3" />

    <button id="viewExchangeRate">View Exchange Rate</button>

    <label id="resultLabel" />
</div>

<br />
<br />
<br />

<hr/>

<div class="row">
    <button id="history">View History</button>
    <div class="row">
        <ul id="historyList"></ul>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script src="~/Scripts/currencyHelper.js"></script>